<h1>Lists</h1>
<%= link_to 'Add List', new_list_path %>
<hr />
<h2><%= @lists.length <= 0 ? "No Lists" : "" %></h2> 
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list %>
    </li>
  <% end %>
</ul>