<nav>
  <ul>
    <li>
      <%= link_to 'Lists', lists_path %>
    </li>
    <li>
      <%= link_to 'Add Lists', new_list_path %>
    </li>
    <li>
      <%= link_to 'Boards', boards_path %>
    </li>
    <li>
      <%= link_to 'Add Boards', new_board_path %>
    </li>
  </ul>
</nav>